.DS_Store
*.swp 
R.generated.swift

UserInterfaceState.xcuserstate
xcuserdata

vendor/bundle/
.bundle/


*.dSYM.zip

## Obj-C/Swift specific
*.hmap
*.ipa

## Build generated
build/
DerivedData

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output
