<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-01-03T08:09:05Z</date>
	<key>WorkspacePath</key>
	<string>/Users/fukushima.hitomi/Documents/swift/MapTodo/MapTodo.xcworkspace</string>
</dict>
</plist>
